<section class="py-4 bg-dark text-white">
    <div class="tittle text-center">
        <h2 class="text-uppercase m-0 p-0 d-inline border-bottom border-2 border-info">contact</h2>
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-5">
        
            <form class="col-md-6 col-10">
                <input type="text" placeholder="YOUR NAME">
                <input type="text" placeholder="SUBJECT">
                <input type="email" placeholder="YOUR EMAIL">
                <textarea name=""placeholder="MESSAGE"class="input"id="textarea"cols="3"rows="10"></textarea>
                <div className="text-center">
                    <input type="submit"value="send message"class="btn btn-info"/>
                     </div>

            </form>
      
    </div>
</section>
