<section class="text-center my-5">
    <!-- <div class="header">
        <h2>about</h2>
    </div> -->
    <div class="row  gy-3  align-items-center justify-content-center">
        <div class="profile-info col d-flex flex-column justify-content-center align-items-center ">
            <p>HEY!</p>
            <h3>I'M BASMALA AHMED</h3>
            <h5>FRONT END DEVELOPER - ANGULAR</h5>
            <ul class="text-center">
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <span><a>basmalaaahmed23@gmail.com</a></span>
                </li>
                <li>
                    <i class="fa-brands fa-github"></i>
                    <span><a>https://github.com/basmalaa-ahmed</a></span>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <span><a>+201093081230</a></span>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Cairo,Egypt</span>
                </li>
            </ul>
        </div>
    </div>
</section>
