<div class="row gy-3 align-items-center justify-content-center">
    <div class="col-md-6 col-xl-6 col-sm-12 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <p>Hi I'm</p>
        <h2>Basmala Ahmed</h2>
        <h5>I'm a Frond-End Developer</h5>
        <p>Front-End Web Developer. Loves to write code in high-paced and challenging environment with an emphasis on using best practices to develop high quality software that meets project requirements.</p>
        <button class="btn btn-info"><a href="../../../assets/Basmala Ahmed Frontend Angular.pdf"target="_blank">Download CV</a></button>
    </div>
    <div class="col-md-6 col-xl-5 col-sm-12 order-2 order-lg-1 me-3">
       <div class="text-center">
        <img src="../../../assets/1681874314667.jpg" class="img-fluid mx-auto rounded-circle" alt="">
       </div>
    </div>
</div>
