<section class="mt-5">
    <div class="tittle text-center">
        <h2 class="text-uppercase m-0 p-0 d-inline border-bottom border-2 border-info">projects</h2>
    </div>
    <div class="row mt-4 g-4">
        <div class="col-md-6 col-xl-6 col-sm-12">
            <img src="../../../assets/project1.JPG" class="w-100" alt="">
           <div class="btns text-center p-2">
            <button  class="btn btn-info rounded-2 m-2"><a href="https://basmalaa-ahmed.github.io/Game-Reviewsjs/"target="_blank">Live</a></button>
            <button class="btn btn-info rounded-2 m-2"><a href="https://github.com/basmalaa-ahmed/Game-Reviewsjs" target="_blank">Repo</a></button>
           </div>
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12">
            <img src="../../../assets/project2.JPG" class="w-100" alt="">
           <div class="btns text-center p-2">
            <button  class="btn btn-info rounded-2 m-2"><a href="https://basmalaa-ahmed.github.io/Food-Reciepe-App/"target="_blank">Live</a></button>
            <button class="btn btn-info rounded-2 m-2"><a href="https://github.com/basmalaa-ahmed/Food-Reciepe-App" target="_blank">Repo</a></button>
           </div>
           <!--  -->
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12">
            <img src="../../../assets/project3.JPG" class="w-100" alt="">
           <div class="btns text-center p-2">
            <button  class="btn btn-info rounded-2 m-2"><a href="https://basmalaa-ahmed.github.io/smart_Login//"target="_blank">Live</a></button>
            <button class="btn btn-info rounded-2 m-2"><a href="https://github.com/basmalaa-ahmed/smart_Login" target="_blank">Repo</a></button>
           </div>
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12">
            <img src="../../../assets/project4.JPG" class="w-100" alt="">
           <div class="btns text-center p-2">
            <button  class="btn btn-info rounded-2 m-2"><a href="https://basmalaa-ahmed.github.io/CRUD-APP/"target="_blank">Live</a></button>
            <button class="btn btn-info rounded-2 m-2"><a href="https://github.com/basmalaa-ahmed/CRUD-APP" target="_blank">Repo</a></button>
           </div>
        </div>
    </div>
</section>
